<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Vue.js</title>
	<script src="vue.js"></script>
</head>

<body>
	<div id="app1">
		Vue：{{ name }}
	</div>
	<div id="app2">
		<input v-model="number">
		<p>数字:{{ number }}</p>
	</div>
	<div id="app3">
		<card></card>
		<card></card>
		<card></card>
	</div>

	<div id="app4">
		数字1：{{ num1 | toInt}}
		<br> 数字2：{{ num2 | toInt}}
		<br> 数字3：{{ num3 | toInt}}
		<br> 总和：{{ sum | toInt}}
	</div>

	<div id="app5">
		{{ a }}
		<button v-on:click="plus">加1</button>
	</div>

	<div id="app" ref="app">{{name}}</div>
	<div id="app7" v-html="name7"></div>
	<div id="app8">
		<!--在href前用v-bind：修饰-->
		<a v-bind:href="link">hello官网</a>
		<!--缩写-->
		<a :href="link">hello官网</a>
	</div>

	<div id="app9">
		<!--我们用缩写的语法-->
		<button :disabled="dis_true">
			我是true
		</button>
		<button :disabled="dis_false">
			我是false
		</button>
	</div>

	<div id="app10">{{ num+3 }}</div>

	<div id="app11">{{ ok ? 'yes':'no' }}</div>

	<div id="app12">
		<a :href="'http://'+host">hello官网</a>
	</div>

	<div id="app13">
		<button v-on:click="say('Tom')">点击</button>
	</div>

	<div id="app14">
		<input v-model="msg" type="text">
		<p>你输入：{{ msg }}</p>
	</div>

	<div id="app15">
		<input v-model="msg" type="text">
		<p v-once>你输入：{{ msg }}</p>
	</div>
	<script>
		Vue.config.debug = true,
			Vue.config.devtools = true,
			// 1
			new Vue({
				el: "#app1",
				data: {
					name: "web前端教程",
				}
			});
		// 2
		new Vue({
			el: "#app2",
			data: {
				number: "",
			}
		});
		// 3
		Vue.component('card', {
			template: `<div>
				<h2>web前端</h2>
				<p>这里是描述，很长的描述</p>
				<button>我是按钮</button>
			</div>`
		});
		new Vue({
			el: "#app3"
		});
		// 4
		new Vue({
			//挂载元素
			el: '#app4',

			//实例vm的数据
			data: {
				num1: 33.141,
				num2: 46.212,
				num3: 78.541
			},
			//过滤器
			filters: {
				toInt(value) {
					return parseInt(value);
				}
			},
			//计算属性
			computed: {
				sum() {
					return this.num1 + this.num2 + this.num3
				}
			}
		});

		// 5
		new Vue({
			//挂载元素
			el: '#app5',
			//实例vm的数据
			data: {
				a: 0
			},
			//方法
			methods: {
				plus() {
					return this.a++;
				}
			},
			//观察
			watch: {
				a() { // 以参数命名func?
					console.log(`有变化了，最新值：`);
					console.log(this.a);
				}
			}
		});

		// 6
		new Vue({
			el: "#app",
			data: {
				name: " im name "
			},
			beforeCreate() {
				console.log('即将创建');
				console.log(this.$data);
				console.log(this.$el);
			},
			created() {
				console.log('创建完毕');
				console.log(this.$data);
				console.log(this.$el);
			},
			beforeMount() {
				console.log('即将挂载');
				console.log(this.$el);
			},
			mounted() {
				console.log('挂载完毕');
				console.log(this.$el);
			},
			beforeUpdate() {
				console.log('=即将更新渲染=');
				let name = this.$refs.app.innerHTML;
				console.log('name:' + name);
			}
		});

		// 7 
		new Vue({
			el: "#app7",
			data: {
				name7: "<strong>前端君</strong>"
			}
		});

		// 8
		new Vue({
			el: "#app8",
			data: {
				link: "http://hello.com"
			}
		});

		// 9
		new Vue({
			el: "#app9",
			data: {
				dis_true: true,
				dis_false: false
			}
		});

		// 10
		new Vue({
			el: "#app10",
			data: {
				num: 2
			}
		});

		// 11
		new Vue({
			el: "#app11",
			data: {
				ok: true
			}
		});

		// 12
		new Vue({
			el: "#app12",
			data: {
				host: 'hello.com'
			}
		});

		// 13
		new Vue({
			el: "#app13",
			methods: {
				say(name) {
					console.log('hello' + name);
				}
			}
		});

		// 14
		new Vue({
			el: "#app14",
			data: {
				msg: ''
			}
		});

		// 15
		new Vue({
			el: "#app15",
			data: {
				msg: 'hello,公众号的同学们'
			}
		});
	</script>
</body>

</html>